<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type=text/css href="../static/styles.css" media='screen and (min-width: 501px)'>
		<link rel="stylesheet" type=text/css href="../static/mobile.css" media='screen and (max-width: 500px)'>
		<title>Reading List</title>

	</head>
	<body>
		<div class = "container" id = "nav">
		<header>
			<h1>Reading List</h1>
		</header>
		<div class = "container" id="category">
		</div>
		<div class="container" id="newbooks">
		</div>

		</div>
	</body>
</html>