<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type=text/css href="../static/styles.css">
		<link rel="stylesheet" type=text/css href="../static/mobile.css" media='screen and (max-width: 500px)'>
		<title>Reading List</title>

	</head>
	<body>
		<div class = "container" id = "nav">
			<header>
				<h1>Reading List</h1>
			</header>
		<div class = "container" id="category">
			<ul>
				<li>Business</li>
				<li>Parenting & Relationships</li>
				<li>History</li>
				<li>Science</li>
				<li>Health & Fitness</li>
			</ul>
		</div>
		<div class="container" id="newbooks">
		</div>

		</div>
	</body>
</html>