<html>
<head>
	<style>
	div.container{
		Width: 100%;
	}
	nav {
		float: left;
		width: 20%;
		background-color: yellow;
	}
	article {
		margin-left: 80px;
		border-left: 1px solid gray;
		background-color: pink;
	}
	header {
		max-height: 100px;
		width: 100%;
		background-color: gray;
	}


	</style>
</head>
<body>
	<div class = "container">
	<header>
		<h1>Reading List</h1>
	</header>
	<nav>
		<ul>
			<li><a href="#">Category 1</a></li>
			<li><a href="#">Category 2</a></li>
			<li><a href="#">Category 3</a></li>
			<li><a href="#">Category 4</a></li>
			<li><a href="#">Category 5</a></li>
		</ul>
	</nav>
	<article>
		<ul>
			<li>Item Number 1</li>
			<li>Item Number 2</li>
			<li>Item Number 3</li>
			<li>Item Number 4</li>
			<li>Item Number 5</li>

		</ul>
	</article>

	</div>
</body>
</html>